{
    "report-dir": "./coverage",
    "reporter": [
        "lcov",
        "text"
    ],
    "clean": true,
    "all": true,
    "include": [
        "src/*"
    ],
    "exclude": [
        "tests/*"
    ]
}